html, body{height:100vh;margin:0;padding:0;}
body{
	background-image:url("background.png");
	background-size:cover;
	}
a.page-link{
border-radius:5px;padding:0.5%;
background-color: transparent;
border: 2px solid #28a745;
color: #28a745;
transition-duration: 0.25s;
text-decoration:none;
}

a.page-link:hover{
    background-color: #28a745;
    color: white;
    cursor:pointer;
}